.contact-view {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/service-hero.jpg) no-repeat center center;
  background-size: cover;
  margin-top: 68px;
}
@media screen and (min-width: 981px) {
  .contact-view {
    margin-top: 84px;
  }
}
.contact {
  margin: 5vw 0 0 0;
  text-align: center;
}

/* .back-link-btn{
  text-align: center;
} */
.contact-greeting {
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #005b94;
  font-size: 3.5vw;
  margin-bottom: 3vw;
}
@media screen and (min-width: 768px) {
  .contact-greeting {
    font-size: 3vw;
    margin-bottom: 3vw;
  }
}
@media screen and (min-width: 960px) {
  .contact-greeting {
    font-size: 24px;
    margin-bottom: 28px;
  }
}

.contact-reception {
  /* line-height: 24px; */
  font-size: 3vw;
}
@media screen and (min-width: 768px) {
  .contact-reception {
    font-size: 3vw;
  }
}
@media screen and (min-width: 960px) {
  .contact-reception {
    font-size: 24px;
  }
}

.form-block {
  width: 90vw;
}
@media screen and (min-width: 960px) {
  .form-block {
    width: 600px;
  }
}

.form-wrap {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 960px) {
  .form-wrap {
    width: 600px;
    margin: 0 auto;
  }
}

.row-text-name {
  display: flex;
}

.row-name1 {
  width: 48%;
  display: flex;
  flex-flow: column;
  margin-right: 10px;
}

.row-name2 {
  width: 48%;
  display: flex;
  flex-flow: column;
}

/* @media screen and (max-width: 640px) {
  .form-wrap {
    width: 300px;
    margin: 0 auto;
  }

  .row-name1 {
    width: 150px;
  }

  .row-name2 {
    width: 150px;
  }
} */

.row-name11 {
  padding: 10px;
  border-radius: 5px;
  border: #ddd 1px solid;
}

.required {
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  padding: 2px;
  margin-left: 10px;
}

.optional {
  background-color: gray;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  padding: 2px;
  margin-left: 10px;
}

.row-campany {
  display: flex;
  flex-flow: column;
  padding: 10px 0;
}

.row-mail {
  display: flex;
  flex-flow: column;
  padding: 10px 0;
}

.row-tel {
  display: flex;
  flex-flow: column;
  padding: 10px 0;
}

.row-text {
  display: flex;
  flex-flow: column;
  padding: 10px 0;
}

.row-text11 {
  height: 150px;
}

.submit {
  background-color: #00bcd4;
  border-radius: 5px;
  border: none;
  color: white;
  width: 100%;
  height: 50px;
  font-size: 20px;
  margin: 3vw auto 5vw;
}
@media screen and(min-width:960px) {
  .submit {
    width: 600px;
    height: 50px;
    font-size: 20px;
    margin: 20px auto 50px;
  }
}
.submit:hover {
  background: #0084ad;
}
.submit:hover::after {
  right: 20px;
}
.submit::after {
  position: absolute;
  content: "";
  bottom: 28px;
  right: 23px;
  width: 9px;
  height: 11px;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  border-radius: 2px;
  transition: inherit;
  background: #ffffff;
}

.submit2 {
  width: 600px;
  height: 50px;
  background-color: #aaaaaa;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 20px;
}
.submit2:hover {
  background: #777777;
}
.submit2:hover::after {
  right: 20px;
}
.submit2::after {
  position: absolute;
  content: "";
  bottom: 28px;
  right: 23px;
  width: 9px;
  height: 11px;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  border-radius: 2px;
  transition: inherit;
  background: #ffffff;
}
.submit-txt {
  text-align: center;
}
@media screen and (max-width: 640px) {
  .submit2 {
    width: 300px;
  }
}
.txt-red-12 {
  margin-left: 10px;
  color: #ff0000;
}
.txt-fullname {
  margin-left: 10px;
  font-weight: bold;
}

.confirm-heading {
  text-align: center;
  margin-bottom: 64px;
}

.confirm-message-title {
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #005b94;
  font-size: 4vw;
}
@media screen and (min-width: 960px) {
  .confirm-message-title {
    font-size: 24px;
    margin-bottom: 28px;
  }
}

.confirm-message-text {
  font-size: 3vw;
  line-height: 4vw;
}
@media screen and (min-width: 960px) {
  .confirm-message-text {
    line-height: 24px;
    font-size: 18px;
  }
}

.back-link-btn {
  display: flex;
  justify-content: center;
  text-align: center;
}

.back-link-btn-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #005b94;
  border-radius: 5vw;
  width: 25vw;
  height: 7vw;
  font-size: 1vw;
}
@media screen and (min-width: 375px) {
  .back-link-btn-blue {
    font-size: 1.8vw;
  }
}
@media screen and (min-width: 500px) {
  .back-link-btn-blue {
    font-size: 2vw;
  }
}
@media screen and (min-width: 960px) {
  .back-link-btn-blue {
    border-radius: 30px;
    width: 200px;
    height: 50px;
    font-size: 18px;
  }
}

/* .back-link-btn-blue {
  color: #005b94;
  background: #ffffff;
} */
/* .back-link-btn-blue:hover::after {
  background: #005b94;
  right: 28px;
} */
