.p-subhero-newspage {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/news-hero.jpg) no-repeat center center;
  background-size: cover;
  margin-top: 68px;
}
@media screen and (min-width: 981px){
  .p-subhero-newspage {
    margin-top: 84px;
  }
}

.p-newspage-wrap {
  margin: 5vw 0;
}
@media screen and (min-width: 960px){
  .p-newspage-wrap {
    margin: 180px 0;
  }
}
.p-newspage-title {
  font-weight: 700;
  margin: 14px 0 18px;
  font-size: 28px;
  font-size: 1.75rem;
}
.p-newspage-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 960px){
  .p-newspage-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.p-newspage-body {
  position: relative;
  margin-top: 30px;
  line-height: 24px;
  border-bottom: 1px solid #B4B4B4;
  padding-bottom: 60px;
}
.p-newspage-body img  {
  height: auto;
}
.p-newspage-body > span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.7);
  z-index: 2;
  padding: 5px;
  border-radius: 5px;
}
.p-newspage-body iframe {
  z-index: 1;
}

.p-newspage-link {
  text-align: center;
  padding-top: 64px;
}
