.p-subhero-privacy {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/privacy.webp) no-repeat center center;
    background-size: cover;
    margin-top: 68px;
}
@media screen and (min-width: 981px) {
    .p-subhero-privacy {
        margin-top: 84px;
    }
    
}

.privacy-container h3 {
    font-size: larger;
}

.privacy-container p {
    margin: 0.3rem 0 0.5rem;
}

.privacy-container li {
    list-style: inside;
}