/* TOPページ用CSS */
/* FVセクション */
.fv {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


/* Swiper スライドアニメーション */
.swiper-slide-active .swiper-img,
.swiper-slide-duplicate-active .swiper-img,
.swiper-slide-prev .swiper-img {
  animation: zoomUp 10s linear 0s normal both;
  background-size: 120%;
}

@keyframes zoomUp {
  0% {
    background-size: 120%;
  }

  100% {
    background-size: 140%;
  }
}

.swiper-wrapper .swiper-slide .swiper-img {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/* FVタイトル */
.fv-title {
  width: 45%;
  height: auto;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* スクロールボタンのラッパー */
.fv-scroll-box {
  position: absolute;
  bottom: 30px;
  left: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 100;
}

/* スクロールボタン */
.fv-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  position: relative;
}

/* 小さい画面サイズの調整 */
@media screen and (max-width: 640px) {
  .fv-scroll {
    width: 44px;
    height: 44px;
  }
}

/* 背景アニメーション */
.fv-scroll::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 100%;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  opacity: 0;
  animation: sdb 2s infinite ease-out;
}

@keyframes sdb {
  0% {
    opacity: 0;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  }

  30% {
    opacity: 1;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.2);
  }

  60% {
    opacity: 0;
    box-shadow: 0 0 20px 50px rgba(255, 255, 255, 0);
  }

  100% {
    opacity: 0;
  }
}

/* 矢印のデザイン */
.fv-arrow {
  width: 16px;
  height: 16px;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  transform: rotate(-45deg);
  animation: arrowMove 2s infinite ease-in-out;
  /* 2秒ごとに動く */
}

@keyframes arrowMove {
  0% {
    transform: translateY(0) rotate(-45deg);
  }

  50% {
    transform: translateY(5px) rotate(-45deg);
    /* 下に少し移動 */
  }

  100% {
    transform: translateY(0) rotate(-45deg);
    /* 元の位置に戻る */
  }
}


/* 小さい画面サイズ用の調整 */
@media screen and (max-width: 640px) {
  .fv-arrow {
    width: 14px;
    height: 14px;
  }
}


/* "Scroll" のテキスト */
.fv-scroll-text {
  color: #ffffff;
  font-size: 12px;
}

/* 小さい画面サイズ用の調整 */
@media screen and (max-width: 640px) {
  .fv-scroll-text {
    font-size: 11px;
  }
}


.about-inner {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

@media screen and (max-width: 960px) {
  .about-inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
}

/* aboutの画像 */
/* 画像の入っているボックスの高さ等指定 */
.about-img-wrapper {
  width: 30%;
  display: flex;
}

.about-img-wrapper img {
  border-radius: 6px;
}

/* 画像の大きさと位置 */

.about-img01 {
  position: relative;
  top: 45%;
  left: -20%;
  z-index: 3;
  width: 250px;
  height: auto;
}

.about-img02 {
  position: relative;
  top: 0;
  left: 40%;
  z-index: 2;
  width: 400px;
  height: auto;
}

.about-img03 {
  position: relative;
  top: 160%;
  right: 110%;
  z-index: 1;
  width: 250px;
  height: auto;
}
@media screen and (max-width: 1399px) {
  .about-img01 {
    width: 180px;
    height: auto;
  }
  
  .about-img02 {
    width: 300px;
    height: auto;
  }
  
  .about-img03 {
    width: 200px;
    height: auto;
  }
}


.about-summary {
  width: 70%;
  max-width: 700px;
}

.heading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.heading-wrapper::before {
  position: relative;
  top: 55px;
  left: -10px;
  content: "";
  width: 4px;
  height: 40px;
  border-radius: 6px;
  background: #005b94;
}

.heading-sub {
  font-weight: 700;
  color: #005b94;
  display: block;
  font-size: 16px;
}
.heading-primary {
  font-weight: 700;
}

.about-title {
  font-weight: 700;
  line-height: 32px;
  color: #005b94;
  font-size: 20px;
}

@media screen and (max-width: 959px) {
  .about-title {
    line-height: 22px;
    margin-bottom: 10px;
    font-size: 14px;
  }
}

.about-text {
  line-height: 24px;
}

@media screen and (max-width: 959px) {
  .about-text {
    line-height: 18px;
  }
}

.about-cta {
  display: flex;
  justify-content: center;
}


.about-bg-text-img-wrap {
  width: 125%;
  position: absolute;
  display: none;
}

@media screen and (min-width: 960px) {
  .about-bg-text-img-wrap {
    display: block;
    left: 0;
    bottom: 100px;
    z-index: -1;
  }
}

/* 実績紹介 */
/* ホームページ制作 */
.p-business-hp-img-back {
  width: 100%;
  height: 400px;
  background-image: url(/img/hp-dev.webp);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 6px;
  padding-top: 100px;
  z-index: -2;
}

@media screen and (max-width: 640px) {
  .p-business-hp-img-back {
    background-size: cover;
  }
}

/* サービス */
.p-business {
  margin-top: 150px;
}

@media screen and (max-width: 640px) {
  .p-business {
    margin-top: 20%;
  }
}

.p-business-inner {
  width: 100%;
  background-image: url(/img/service-spbg.jpg);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
  .p-business-inner {
    height: auto;
    background: none;
    z-index: 1;
  }
}

.p-business-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 0px;
  margin-bottom: 150px;
}

@media screen and (max-width: 640px) {
  .p-business-heading {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 50px;
  }
}

.p-business-message {
  width: 50%;
  line-height: 24px;
}

@media screen and (max-width: 640px) {
  .p-business-message {
    width: 100%;
    line-height: 18px;
    margin-top: 10px;
  }
}

.p-business-hp {
  display: flex;
  align-items: flex-start;
  margin-bottom: 150px;
}

@media screen and (max-width: 640px) {
  .p-business-hp {
    flex-direction: column-reverse;
    margin-bottom: 76px;
  }
}

.p-business-hp-desc {
  width: 43%;
  padding: 4% 4% 4% 2%;
  margin: 8% 3% 0 0;
  border-radius: 6px;
  background: #ffffff;
  z-index: 999;
}

@media screen and (max-width: 640px) {
  .p-business-hp-desc {
    width: 100%;
    padding: 0;
    margin: 14px 0 0 0;
  }
}

.p-business-hp-title {
  margin-bottom: 24px;
  color: #005b94;
  font-size: 28px;
}

@media screen and (max-width: 640px) {
  .p-business-hp-title {
    font-size: 21px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 640px) {
  .p-business-hp-title img {
    width: 28px;
    position: relative;
    top: -2px;
  }
}

.p-business-hp-text {
  line-height: 24px;
  margin-bottom: 24px;
}

@media screen and (max-width: 640px) {
  .p-business-hp-text {
    line-height: 18px;
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 640px) {
  .p-business-hp-link {
    text-align: center;
  }
}

.p-business-hp-img-wrap {
  width: 48%;
  z-index: 2;
  transition-duration: 600ms;
  transition-property: opacity 0.6s, transform 0.6s;
  opacity: 0;
  transform: translate(130px, 0);
}

@media screen and (max-width: 640px) {
  .p-business-hp-img-wrap {
    width: 100%;
    transform: translate(-130px, 0);
  }
}

.p-business-hp-img-wrap::before {
  content: "";
  position: absolute;
  width: clamp(400px, 66vw, 820px);
  height: clamp(216px, 36vw, 465px);
  background-color: #d2f4ff;
  border-radius: 6px;
  z-index: -1;
  top: -40px;
  left: -180px;
}

@media screen and (max-width: 640px) {
  .p-business-hp-img-wrap::before {
    border-radius: 4px;
    top: -20px;
    left: -80px;
  }
}

.p-business-hp-img-wrap.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

.p-business-hp-img {
  border-radius: 6px;
}

@media screen and (max-width: 640px) {
  .p-business-hp-img {
    border-radius: 4px;
  }
}

/* デザイン制作 */
.p-business-mv {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10rem;
}

@media screen and (max-width: 640px) {
  .p-business-mv {
    flex-direction: column;
  }
}

.p-business-mv-img-wrap {
  width: 48%;
  z-index: 2;
  transition-duration: 600ms;
  transition-property: opacity 0.6s, transform 0.6s;
  opacity: 0;
  transform: translate(-130px, 0);
}

@media screen and (max-width: 640px) {
  .p-business-mv-img-wrap {
    width: 100%;
    transform: translate(0px, 130px);
  }
}

.p-business-mv-img-wrap::before {
  content: "";
  position: absolute;
  width: clamp(400px, 66vw, 820px);
  height: clamp(216px, 36vw, 465px);
  background-color: #d2f4ff;
  border-radius: 6px;
  z-index: -1;
  top: -40px;
  left: -40px;
}

@media screen and (max-width: 640px) {
  .p-business-mv-img-wrap::before {
    top: -20px;
    right: 20px;
    left: initial;
    background-color: #d2f4ff;
  }
}

.p-business-mv-img-wrap.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

.p-business-movie-img-back {
  width: 100%;
  height: 400px;
  background-image: url(/img/other-service.webp);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 6px;
  z-index: -2;
  /* background-color: #d2f4ff; */
}

@media screen and (max-width: 640px) {
  .p-business-movie-img-back {
    background-size: cover;
  }
}

.p-business-mv-desc {
  width: 45%;
  margin: 8% 0 0 5%;
  padding: 4%;
  border-radius: 6px;
  background-color: #ffffff;
  z-index: 2;
}

@media screen and (max-width: 640px) {
  .p-business-mv-desc {
    width: 100%;
    padding: 0;
    margin: 14px 0 0 0;
  }
}

.p-business-mv-title {
  margin-bottom: 24px;
  color: #005b94;
  font-size: 28px;
}

@media screen and (max-width: 640px) {
  .p-business-mv-title {
    font-size: 21px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 640px) {
  .p-business-mv-title img {
    width: 28px;
    position: relative;
    top: -2px;
    border-radius: 4px;
  }
}

.p-business-mv-text {
  line-height: 24px;
  margin-bottom: 24px;
}

@media screen and (max-width: 640px) {
  .p-business-mv-text {
    line-height: 18px;
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 640px) {
  .p-business-mv-link {
    text-align: center;
  }
}

.p-business-mv-img {
  border-radius: 6px;
  border: 1px solid red;
}

@media screen and (max-width: 640px) {
  .p-business-mv-img {
    position: absolute;
    border-radius: 6px;
    width: 95%;
    border: 1px solid blue;
  }
}

.p-business-mv-desc {
  width: 45%;
  margin: 8% 3% 0;
  padding: 4%;
  border-radius: 6px;
  background-color: #ffffff;
  z-index: 2;
}

@media screen and (max-width: 640px) {
  .p-business-mv-desc {
    width: 100%;
    padding: 0;
    margin: 14px 0 0 0;
  }
}

.p-business-mv-title {
  margin-bottom: 24px;
  color: #005b94;
  font-size: 28px;
}

@media screen and (max-width: 640px) {
  .p-business-mv-title {
    font-size: 21px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 640px) {
  .p-business-mv-title img {
    width: 28px;
    position: relative;
    top: -2px;
    border-radius: 4px;
  }
}

.p-business-mv-text {
  line-height: 24px;
  margin-bottom: 24px;
}

@media screen and (max-width: 640px) {
  .p-business-mv-text {
    line-height: 18px;
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 640px) {
  .p-business-mv-link {
    text-align: center;
  }
}

.p-business-mv-img {
  border-radius: 6px;
  border: 1px solid red;
}

@media screen and (max-width: 640px) {
  .p-business-mv-img {
    position: absolute;
    border-radius: 6px;
    width: 95%;
    border: 1px solid blue;
  }
}

/* 動画編集 */
.p-business-other {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: row-reverse;
  margin-bottom: 5rem;
}

@media screen and (max-width: 640px) {
  .p-business-other {
    flex-direction: column;
  }
}

.p-business-other-img-wrap {
  width: 48%;
  z-index: 2;
  transition-duration: 600ms;
  transition-property: opacity 0.6s, transform 0.6s;
  transform: translate(130px, 0);
}

@media screen and (max-width: 640px) {
  .p-business-other-img-wrap {
    width: 100%;
    transform: translate(0px, 130px);
  }
}

.p-business-other-img-wrap::before {
  content: "";
  position: absolute;
  width: clamp(400px, 66vw, 750px);
  height: clamp(216px, 36vw, 465px);
  background-color: #d2f4ff;
  border-radius: 6px;
  z-index: -1;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 640px) {
  .p-business-other-img-wrap::before {
    top: -20px;
    right: 20px;
    left: initial;
    background-color: #d2f4ff;
  }
}

.p-business-other-img-wrap.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

.p-business-other-img-back {
  width: 100%;
  height: 400px;
  background-image: url(/img/mv-direction.webp);
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 6px;
  z-index: -2;
  /* background-color: #d2f4ff; */
}

@media screen and (max-width: 640px) {
  .p-business-other-img-back {
    background-size: cover;
  }
}

.p-business-big-text-img-wrap {
  position: absolute;
  top: 45%;
  left: 30%;
}

@media screen and (max-width: 640px) {
  .p-business-big-text-img-wrap {
    display: none;
  }
}

/* 採用情報 */
@media screen and (max-width: 640px) {
  .p-recruit {
    padding-top: 19%;
  }
}

.p-recruit-bg {
  width: 95%;
  height: 582px;
  margin: 0 auto 100px;
  border-radius: 12px;
}

@media screen and (max-width: 640px) {
  .p-recruit-bg {
    width: 100%;
    height: 420px;
    margin: 0 auto;
    border-radius: 0px;
  }
}

@media screen and (max-width: 640px) {
  .p-recruit-inner {
    padding: 0;
  }
}

.p-recruit-body {
  max-width: 598px;
  padding: 4% 3% 5% 5%;
  border-radius: 6px;
  margin: -24% 0 0 auto;
  background: #005b94;
}

@media screen and (max-width: 640px) {
  .p-recruit-body {
    width: 100%;
    padding: 38px 15px 56px;
    border-radius: 0px;
    margin-top: -190px;
  }
}

.p-recruit-heading {
  margin-bottom: 28px;
}

@media screen and (max-width: 640px) {
  .p-recruit-heading {
    margin-bottom: 24px;
  }
}

.p-recruit-message {
  font-weight: 700;
  margin-bottom: 16px;
  color: #ffffff;
  font-size: 1.5rem;
}

@media screen and (max-width: 640px) {
  .p-recruit-message {
    line-height: 22px;
    margin-bottom: 10px;
    font-size: 1rem;
  }
}

.p-recruit-text {
  margin-bottom: 32px;
  line-height: 24px;
  color: #ffffff;
}

@media screen and (max-width: 640px) {
  .p-recruit-text {
    line-height: 18px;
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 640px) {
  .p-recruit-link {
    text-align: center;
  }
}

.p-recruit-big-text-img-wrap {
  width: 60%;
  position: absolute;
  bottom: -7%;
  z-index: -1;
}

@media screen and (max-width: 640px) {
  .p-recruit-big-text-img-wrap {
    display: none;
  }
}

.p-office-img {
  width: 100%;
  height: 293px;
  background-image: url("/img/recruit-flow.webp");
  background-repeat: repeat-x;
  background-size: auto 293px;
  animation: loop 30s linear infinite;
  position: relative;
  z-index: 999;
  margin: 120px calc(50% - 50vw) 100px;
}

@keyframes loop {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -2000px 0;
  }
}

@media screen and (max-width: 640px) {
  .p-office-flow-slide {
    width: 300px;
  }
}

.p-news {
  padding-bottom: 140px;
}

.p-news-body {
  width: 74%;
}

@media screen and (max-width: 640px) {
  .p-news-body {
    width: 100%;
  }
}

.p-news-list-item {
  border-bottom: 1px solid #b4b4b4;
}

.p-news-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .p-news-inner {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 640px) {
  .p-news-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.p-news-link {
  margin-top: 24px;
}

@media screen and (max-width: 640px) {
  .p-news-link {
    margin-top: 0;
    position: relative;
    top: 400px;
  }
}

.p-news-list-link {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

@media screen and (max-width: 640px) {
  .p-news-list-link {
    padding: 18px 0;
  }
}

@media screen and (max-width: 640px) {
  .p-news-list-link img {
    display: none;
  }
}

.p-news-list-link::after {
  content: url(/img/common/right-arrow-blue.svg);
  width: 18px;
  height: 20px;
  position: absolute;
  right: 56px;
  transition: 0.3s;
}

@media screen and (max-width: 640px) {
  .p-news-list-link::after {
    width: 10px;
    height: 14px;
    right: 30px;
  }
}

.p-news-list-link:hover::after {
  position: absolute;
  right: 52px;
}

@media screen and (max-width: 640px) {
  .p-news-list-link:hover::after {
    right: 28px;
  }
}

.p-news-list-heading {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 640px) {
  .p-news-list-heading {
    margin-bottom: 6px;
  }
}

.p-news-list--date {
  margin-right: 10px;
  color: #686f75;
  line-height: 24px;
}

@media screen and (max-width: 640px) {
  .p-news-list--date {
    font-size: 11px;
  }
}

.p-news-list-body {
  margin-left: 42px;
}

@media screen and (max-width: 640px) {
  .p-news-list-body {
    margin-left: 6px;
  }
}

.p-news-list-link:hover .p-news-list-text {
  color: #0084ad;
}

.p-news-list-text::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #0084ad;
  bottom: -2px;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.p-news-list-link:hover .p-news-list-text::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.c-btn {
  position: relative;
  width: 222px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  color: rgb(255, 255, 255);
  z-index: 999;
  padding: 26px 0px;
  border-radius: 6px;
  transition: 0.3s;
  background: rgb(0, 91, 148);
}
.c-btn:hover {
  background: rgb(0, 132, 173);
}
/* .c-btn::after {
  position: absolute;
  content: "";
  bottom: 50%;
  right: 23px;
  width: 9px;
  height: 11px;
  clip-path: polygon(0px 0px, 0% 100%, 100% 50%);
  border-radius: 2px;
  transition: inherit;
  background: rgb(255, 255, 255);
} */