html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  max-width: 100%;
}

body {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  box-sizing: border-box;
  letter-spacing: 0.05em;
  font-weight: 400;
  color: #1c1c1c;
  overflow-wrap: break-word;
  font-size: 16px;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 100%;
  scroll-padding-top: 96px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: #1c1c1c;
}

img {
  height: 100%;
  max-width: 100%;
  vertical-align: bottom;
}

::selection {
  background: #005B94;
  color: #ffffff;
}

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

@keyframes loop-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* ＬｉＮＥ ＰＡＲＫと全角表記の為のスタイル */
.LiNE, .PARK {
  letter-spacing: -4px;
}
@media screen and (min-width: 960px) {
  .LiNE {
    letter-spacing: -6px;
  }
  .PARK {
    letter-spacing: -5px;
  }
}
.l-inner {
  padding: 0 15px;
}
@media screen and (min-width: 960px) {
  .l-inner {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
  }
}

/* .u-cts {
  position: relative;
} */

.u-center {
  text-align: center;
}

.c-label-category {
  width: 78px;
  height: 24px;
  border-radius: 50px;
  text-align: center;
  line-height: 24px;
  display: inline-block;
  color: #ffffff;
  background: #005b94;
  font-size: 13px;
  font-size: 0.8125rem;
}
@media screen and (max-width: 640px) {
  .c-label-category {
    width: 62px;
    height: 18px;
    line-height: 18px;
    font-size: 10px;
    font-size: 0.625rem;
  }
}



.p-subhero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: 50vw;
}
@media screen and (min-width: 390px) {
  .p-subhero {
    width: 100%;
    height: 50vw;
  }
}
@media screen and (min-width: 500px) {
  .p-subhero {
    width: 100%;
    height: 40vw;
  }
}
@media screen and (min-width: 768px) {
  .p-subhero {
    width: 100%;
    height: 40vw;
  }
}
@media screen and (min-width: 960px) {
  .p-subhero {
    width: 100%;
    height: 40vw;
  }
}
@media screen and (min-width: 1280px) {
  .p-subhero {
    font-size: 14px;
  }
}

/* 見出し画像とメインコンテンツの余白 */
.l-subsection {
  margin: 10vw 0;
}
@media screen and (min-width: 390px) {
  .l-subsection {
  margin: 10vw 0;
  }
}
@media screen and (min-width: 500px) {
  .l-subsection {
    margin: 10vw 0;
  }
}
@media screen and (min-width: 768px) {
  .l-subsection {
    margin: 5vw 0;
  }
}
@media screen and (min-width: 960px) {
  .l-subsection {
    margin: 5vw 0;
  }
}
@media screen and (min-width: 1280px) {
  .l-subsection {
    margin: 5vw 0;
  }
}

/* ページトップへジャンプ */
.c-page-top {
  position: fixed;
  bottom: 78px;
  right: 30px;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 999;
}

.c-page-top-link {
  width: 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  background: #005B94;
}
/* 上矢印 */
.c-page-top-link img {
  width: 18px;
}

.thanks-heading {
  text-align: center;
  margin-bottom: 64px;
}
.back-link-btn {
  text-align: center;
}
.thanks-message-title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #005b94;
  margin-bottom: 28px;
}
.thanks-message-text {
  line-height: 24px;
  margin: -4px 0;
}

.c-heading-primary {
  font-weight: 700;
  margin-left: 10px;
  font-size: 38px;
}
@media screen and (max-width: 640px) {
  .c-heading-primary {
    font-size: 26px;
    margin-left: 8px;
  }
}
.c-heading-primary::before {
  position: absolute;
  top: 19px;
  left: -8px;
  content: "";
  width: 4px;
  height: 40px;
  border-radius: 6px;
  background: #005b94;
}
@media screen and (max-width: 640px) {
  .c-heading-primary::before {
    top: 12px;
    width: 3px;
    height: 30px;
  }
}

.c-heading-subprimary {
  font-weight: 700;
  color: #005b94;
  margin: 0 0 4px 2px;
  display: block;
  font-size: 16px;
}
@media screen and (max-width: 640px) {
  .c-heading-subprimary {
    font-size: 12px;
  }
}

.c-heading-primary-white {
  color: #ffffff;
}
.c-heading-primary-white::before {
  position: absolute;
  top: 19px;
  left: -8px;
  content: "";
  width: 4px;
  height: 40px;
  border-radius: 6px;
  background: #ffffff;
}
@media screen and (max-width: 640px) {
  .c-heading-primary-white::before {
    top: 12px;
    width: 3px;
    height: 30px;
  }
}

.c-heading-subprimary-white {
  color: #ffffff;
}

.c-heading-primary-center {
  text-shadow: 0px 0px 2px rgba(27, 27, 27, 0.5);
  font-size: 38px;
}
@media screen and (max-width: 640px) {
  .c-heading-primary-center {
    font-size: 26px;
  }
}
.c-heading-primary-center::before {
  position: absolute;
  top: 30px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  /* content: ""; */
  width: 64px;
  height: 4px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(27, 27, 27, 0.5);
  /* background: #ffffff; */
}
@media screen and (max-width: 640px) {
  .c-heading-primary-center::before {
    top: 18px;
    width: 36px;
    height: 2px;
  }
}

.c-heading-subprimary-center {
  margin-bottom: 20px;
  display: block;
  text-shadow: 0px 0px 2px rgba(27, 27, 27, 0.5);
  font-size: 18px;
}
@media screen and (max-width: 640px) {
  .c-heading-subprimary-center {
    margin-bottom: 5px;
    font-size: 12px;
  }
}

.c-heading-primary-alter {
  font-size: 38px;
}
.c-heading-primary-alter::before,
.c-heading-primary-alter::after {
  content: "";
  position: absolute;
  width: 175px;
  height: 2px;
  top: 50%;
  background: #005b94;
  border-radius: 4px;
}
.c-heading-primary-alter::before {
  left: 0;
}
.c-heading-primary-alter::after {
  right: 0;
}

.c-btn {
  width: 222px;
  padding: 26px 0;
  font-weight: 700;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  background: #005b94;
  color: #ffffff;
  z-index: 999;
}
@media screen and (max-width: 640px) {
  .c-btn {
    width: 190px;
    padding: 20px 0;
    border-radius: 4px;
    font-size: 14px;
  }
}
.c-btn:hover {
  background: #0084ad;
}
.c-btn:hover::after {
  right: 20px;
}
.c-btn::after {
  position: absolute;
  content: "";
  bottom: 28px;
  right: 23px;
  width: 9px;
  height: 11px;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  border-radius: 2px;
  transition: inherit;
  background: #ffffff;
}
@media screen and (max-width: 640px) {
  .c-btn::after {
    width: 7px;
    height: 9px;
    bottom: 23px;
  }
}

.c-btn-white {
  color: #005b94;
  background: #ffffff;
  transition: 0.3s;
}
.c-btn-white:hover {
  color: #ffffff;
}
.c-btn-white:hover::after {
  background: #ffffff;
}
.c-btn-white::after {
  position: absolute;
  content: "";
  bottom: 28px;
  right: 23px;
  width: 9px;
  height: 11px;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  border-radius: 2px;
  background: #005b94;
}
@media screen and (max-width: 640px) {
  .c-btn-white::after {
    width: 7px;
    height: 9px;
    bottom: 23px;
  }
}

.c-btn-second {
  transition: 0.3s;
  cursor: pointer;
}

.c-btn-second:hover .c-btn-second-text {
  color: #0084ad;
}

.c-btn-second-text::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #0084ad;
  bottom: -2px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.4s;
}

.c-btn-second:hover .c-btn-second-text::after {
  transform: scale(1, 1);
}

.c-btn-circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #005b94;
  display: inline-block;
  vertical-align: middle;
  transition: 0.3s;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  .c-btn-circle {
    width: 44px;
    height: 44px;
  }
}

.c-btn-circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(50% + 1px);
  transform: translate(-50%, -50%);
  width: 9px;
  height: 11px;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  border-radius: 2px;
  background: #ffffff;
  transition: inherit;
  z-index: 999;
}
@media screen and (max-width: 640px) {
  .c-btn-circle::after {
    width: 7px;
    height: 9px;
  }
}

.c-btn-second:hover .c-btn-circle::after {
  left: calc(50% + 2px);
}

.c-btn-second:hover .c-btn-circle {
  background: #0084ad;
}

.c-btn-round {
  width: 270px;
  padding: 26px 0;
  color: #005B94;
}

.c-btn-round {
  width: 270px;
  padding: 26px 0;
  color: #005B94;
  border: 2px solid #005B94;
  font-weight: 700;
  border-radius: 50px;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
}
.c-btn-round:hover {
  color: #ffffff;
  background: #005B94;
}
.c-btn-round:hover::after {
  background: #ffffff;
  right: 28px;
}
.c-btn-round::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 27px;
  right: 30px;
  width: 10px;
  height: 12px;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  border-radius: 2px;
  background: #005B94;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


.c-btn-round-blue {
  color: #ffffff;
  background-color: #005b94;
}
.c-btn-round-blue:hover {
  color: #005b94;
  background: #ffffff;
}
.c-btn-round-blue:hover::after {
  background: #005b94;
  right: 28px;
}
.c-btn-round-blue::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 27px;
  right: 30px;
  width: 10px;
  height: 12px;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  border-radius: 2px;
  background: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* お問い合わせ */
.p-contact {
  width: 100%;
  height: 448px;
  position: relative;
  background:
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(/img/contact-top-img.jpg);
  /* background-image: url(/img/contact-top-img.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}
@media screen and (max-width: 640px) {
  .p-contact {
    height: 260px;
  }
}
.p-contact-heading {
  padding-top: 96px;
  margin-bottom: 38px;
}
@media screen and (max-width: 640px) {
  .p-contact-heading {
    padding-top: 38px;
    margin-bottom: 20px;
  }
}
.p-contact-message {
  margin-bottom: 38px;
}
@media screen and (max-width: 640px) {
  .p-contact-message {
    margin-bottom: 32px;
  }
}


