html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  /* vertical-align: baseline;
  background: transparent; */
}

body {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  letter-spacing: 0.05em;
  font-weight: 400;
  color: #1c1c1c;
  overflow-wrap: break-word;
  font-size: 16px;
}
@media screen and (max-width: 640px) {
  body {
    font-size: 12px;
  }
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 100%;
  scroll-padding-top: 96px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: #1c1c1c;
}

img {
  height: 100%;
  max-width: 100%;
  vertical-align: bottom;
}

::selection {
  background: #005B94;
  color: #ffffff;
}

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loop-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.l-inner {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (max-width: 640px) {
  .l-inner {
    padding: 0 15px;
  }
}

/* ハンバーガー */
@media screen and (max-width: 640px) {
  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #3584bb;
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
  }
  .menu-btn span:before {
    bottom: 8px;
  }
  .menu-btn span:after {
    top: 8px;
  }
}

/* ヘッダー */
.l-header {
  width: 100%;
  height: 84px;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.8888888889%;
  transition: 0.3s;
}
@media screen and (max-width: 640px) {
  .l-header {
    height: 68px;
    margin-top: 0px;
    padding-top: 0px;
    display: block;
  }
  .l-header-nav {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease vasibility 0.6s ease;
  }
}
.l-header-nav.active {
  width: 100%;
  height: 100vh;
  z-index: 999;
  opacity: 1;
  visibility: visible;
  right: 0;
  transition: inherit;
  background: #110d0d;
}
.l-header_logo {
  width: 178px;
  z-index: 1000;
}
@media screen and (max-width: 640px) {
  .l-header_logo {
    width: 140px;
    padding-top: 0px;
    margin-top: 0px;
  }
}
.l-header.scroll-nav {
  background: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.l-subheader {
  background: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.l-section {
  padding-top: 12.5%;
}

.l-subsection {
  padding: 180px 0;
}

.l-footer {
  width: 100%;
  height: 590px;
  background-image: url(../img/footer_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 640px) {
  .l-footer {
    height: 100%;
  }
}

.l-footer_inner {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
}
@media screen and (max-width: 640px) {
  .l-footer_inner {
    padding-top: 48px;
    flex-direction: column;
  }
}
.l-footer_logo {
  width: 242px;
  margin-bottom: 24px;
}
@media screen and (max-width: 640px) {
  .l-footer_logo {
    width: 165px;
    margin: 0 auto 32px;
  }
}
.l-footer-address_place {
  line-height: 18px;
  margin-bottom: 6px;
  color: #ffffff;
  font-size: 14px;
}
.l-footer-address_mail {
  margin-bottom: 4px;
  color: #ffffff;
  font-size: 14px;
}
.l-footer-address_mail span {
  vertical-align: text-top;
}
.l-footer-address_mail img {
  margin-right: 2px;
}
.l-footer-address_phone {
  color: #ffffff;
  font-size: 14px;
}
.l-footer-address_phone span {
  vertical-align: text-top;
}
.l-footer-address_phone img {
  margin-right: 2px;
}
.l-footer-address_reception-time {
  margin-top: 6px;
  display: block;
  font-feature-settings: "palt";
  margin-bottom: 30px;
}
@media screen and (max-width: 640px) {
  .l-footer-address_reception-time {
    margin-bottom: 0;
    padding-bottom: 42px;
    border-bottom: 1px solid #ffffff;
  }
}
@media screen and (max-width: 640px) {
  .l-footer-sns-nav {
    padding-top: 42px;
  }
  .l-footer-sns-nav_list {
    justify-content: center;
  }
}
.l-footer-sns-nav_list {
  display: flex;
}
.l-footer-sns-nav_item:not(:last-of-type) {
  margin-right: 18px;
}
.l-footer-sns-nav_item img {
  width: 42px;
}
.l-footer-nav {
  width: 61%;
  margin-top: 24px;
}
@media screen and (max-width: 640px) {
  .l-footer-nav {
    margin-top: 44px;
  }
  .l-footer-nav_title {
    font-size: 13px;
  }
}
.l-footer-nav_list {
  display: flex;
  flex-wrap: wrap;
  z-index: 100;
}
.l-footer-nav_title {
  color: #ffffff;
  width:fit-content;
}
.l-footer-nav_title::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  display: inline-block;
  background: #ffffff;
  bottom: -2px;
  transform: scale(0, 1);
  transform-origin: top left;
  transition: transform 0.4s;
}
.l-footer-nav_title:hover::after {
  transform: scale(1, 1);
}
.l-footer-nav_item {
  width: 200px;
  /* width: 170px; */
  margin-bottom: 17.0967741935%;
}
@media screen and (max-width: 640px) {
  .l-footer-nav_item {
    margin-bottom: 42px;
  }
}
.l-footer-nav_item:nth-of-type(2) {
  display: flex;
  flex-direction: column;
}
.l-footer-nav_link {
  width: fit-content;
  color: #ffffff;
  font-size: 14px;
  line-height: 30px;
  display: inline-block;
}
.l-footer-nav_link::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #ffffff;
  bottom: -2px;
  transform: scale(0, 1);
  transform-origin: top left;
  transition: transform 0.4s;
}
.l-footer-nav_link:hover::after {
  transform: scale(1, 1);
}
@media screen and (max-width: 640px) {
  .l-footer-nav_link {
    font-size: 11px;
  }
}
.l-footer-nav_link:nth-of-type(1) {
  margin-bottom: 16px;
}
.l-footer-bigtext_img-wrap {
  width: 900px;
  position: absolute;
  bottom: 35px;
  left: 150px;
}
@media screen and (max-width: 640px) {
  .l-footer-bigtext_img-wrap {
    width: 305px;
    transform: rotate(90deg);
    bottom: 15%;
    left: 145px;
  }
}

.l-footer-nav_list .l-footer-nav_item:nth-of-type(2) .l-footer-nav_title {
  margin-bottom: 16px;
}

.c-copyright {
  width: 100%;
  padding: 15px 0;
  background: #110d0d;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  z-index: 2;
  font-size: 13px;
}
@media screen and (max-width: 640px) {
  .c-copyright {
    padding: 12px 0;
    font-size: 11px;
  }
}

.c-heading-primary {
  font-weight: 700;
  margin-left: 10px;
  font-size: 38px;
}
@media screen and (max-width: 640px) {
  .c-heading-primary {
    font-size: 26px;
    margin-left: 8px;
  }
}
.c-heading-primary::before {
  position: absolute;
  top: 19px;
  left: -8px;
  content: "";
  width: 4px;
  height: 40px;
  border-radius: 6px;
  background: #005B94;
}
@media screen and (max-width: 640px) {
  .c-heading-primary::before {
    top: 12px;
    width: 3px;
    height: 30px;
  }
}

.c-heading-subprimary {
  font-weight: 700;
  color: #005B94;
  margin: 0 0 4px 2px;
  display: block;
  font-size: 16px;
}
@media screen and (max-width: 640px) {
  .c-heading-subprimary {
    font-size: 12px;
  }
}

.c-heading-primary-white {
  color: #ffffff;
}
.c-heading-primary-white::before {
  position: absolute;
  top: 19px;
  left: -8px;
  content: "";
  width: 4px;
  height: 40px;
  border-radius: 6px;
  background: #ffffff;
}
@media screen and (max-width: 640px) {
  .c-heading-primary-white::before {
    top: 12px;
    width: 3px;
    height: 30px;
  }
}

.c-heading-subprimary-white {
  color: #ffffff;
}

.c-heading_primary-center {
  text-shadow: 0px 0px 2px rgba(27, 27, 27, 0.5);
  font-size: 38px;
}
@media screen and (max-width: 640px) {
  .c-heading_primary-center {
    font-size: 26px;
  }
}
.c-heading_primary-center::before {
  position: absolute;
  top: 30px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  /* content: ""; */
  width: 64px;
  height: 4px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(27, 27, 27, 0.5);
  /* background: #ffffff; */
}
@media screen and (max-width: 640px) {
  .c-heading_primary-center::before {
    top: 18px;
    width: 36px;
    height: 2px;
  }
}

.c-heading_subprimary-center {
  margin-bottom: 30px;
  display: block;
  text-shadow: 0px 0px 2px rgba(27, 27, 27, 0.5);
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (max-width: 640px) {
  .c-heading_subprimary-center {
    margin-bottom: 14px;
    font-size: 12px;
  }
}

.c-heading-primary_alter {
  font-size: 38px;
}
.c-heading-primary_alter::before, .c-heading-primary_alter::after {
  content: "";
  position: absolute;
  width: 175px;
  height: 2px;
  top: 50%;
  background: #005B94;
  border-radius: 4px;
}
.c-heading-primary_alter::before {
  left: 0;
}
.c-heading-primary_alter::after {
  right: 0;
}

.c-btn {
  width: 222px;
  padding: 26px 0;
  font-weight: 700;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  background: #005B94;
  color: #ffffff;
  z-index: 999;
}
@media screen and (max-width: 640px) {
  .c-btn {
    width: 190px;
    padding: 20px 0;
    border-radius: 4px;
    font-size: 14px;
  }
}
.c-btn:hover {
  background: #0084AD;
}
.c-btn:hover::after {
  right: 20px;
}
.c-btn::after {
  position: absolute;
  content: "";
  bottom: 28px;
  right: 23px;
  width: 9px;
  height: 11px;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  border-radius: 2px;
  transition: inherit;
  background: #ffffff;
}
@media screen and (max-width: 640px) {
  .c-btn::after {
    width: 7px;
    height: 9px;
    bottom: 23px;
  }
}

.c-btn-white {
  color: #005B94;
  background: #ffffff;
  transition: 0.3s;
}
.c-btn-white:hover {
  color: #ffffff;
}
.c-btn-white:hover::after {
  background: #ffffff;
}
.c-btn-white::after {
  position: absolute;
  content: "";
  bottom: 28px;
  right: 23px;
  width: 9px;
  height: 11px;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  border-radius: 2px;
  background: #005B94;
}
@media screen and (max-width: 640px) {
  .c-btn-white::after {
    width: 7px;
    height: 9px;
    bottom: 23px;
  }
}

.c-btn-second {
  transition: 0.3s;
  cursor: pointer;
}

.c-btn-second:hover .c-btn-second_text {
  color: #0084AD;
}

.c-btn-second_text::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #0084AD;
  bottom: -2px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.4s;
}

.c-btn-second:hover .c-btn-second_text::after {
  transform: scale(1, 1);
}

.c-btn_circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #005B94;
  display: inline-block;
  vertical-align: middle;
  transition: 0.3s;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  .c-btn_circle {
    width: 44px;
    height: 44px;
  }
}

.c-btn_circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(50% + 1px);
  transform: translate(-50%, -50%);
  width: 9px;
  height: 11px;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  border-radius: 2px;
  background: #ffffff;
  transition: inherit;
  z-index: 999;
}
@media screen and (max-width: 640px) {
  .c-btn_circle::after {
    width: 7px;
    height: 9px;
  }
}

.c-btn-second:hover .c-btn_circle::after {
  left: calc(50% + 2px);
}

.c-btn-second:hover .c-btn_circle {
  background: #0084AD;
}

.c-btn_round {
  width: 270px;
  padding: 26px 0;
  color: #005B94;
}

.c-btn_round {
  width: 270px;
  padding: 26px 0;
  color: #005B94;
  border: 2px solid #005B94;
  font-weight: 700;
  border-radius: 50px;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
}
.c-btn_round:hover {
  color: #ffffff;
  background: #005B94;
}
.c-btn_round:hover::after {
  background: #ffffff;
  right: 28px;
}
.c-btn_round::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 27px;
  right: 30px;
  width: 10px;
  height: 12px;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  border-radius: 2px;
  background: #005B94;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.c-label-category {
  width: 78px;
  height: 24px;
  border-radius: 50px;
  text-align: center;
  line-height: 24px;
  display: inline-block;
  color: #ffffff;
  background: #005B94;
  font-size: 13px;
  font-size: 0.8125rem;
}
@media screen and (max-width: 640px) {
  .c-label-category {
    width: 62px;
    height: 18px;
    line-height: 18px;
    font-size: 10px;
    font-size: 0.625rem;
  }
}

.c-page-top {
  position: fixed;
  bottom: 78px;
  right: 30px;
  z-index: 999;
  transition: 0.5s;
}
@media screen and (max-width: 640px) {
  .c-page-top {
    left: calc(100% - 65px);
    bottom: 30px;
  }
}
.c-page-top_link {
  width: 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  background: #005B94;
}
@media screen and (max-width: 640px) {
  .c-page-top_link {
    width: 44px;
    height: 44px;
    line-height: 44px;
  }
}
.c-page-top_link img {
  width: 18px;
}

.c-card {
  width: calc(33.33333% - 43px);
}
.c-card:not(:last-of-type) {
  margin-right: 64px;
}
.c-card-wrap {
  display: flex;
}
.c-card_img-wrap {
  width: 93.8416422287%;
  margin: 0 0 0 auto;
}
.c-card_img-wrap span {
  position: absolute;
  left: -16px;
  top: 40%;
  font-size: clamp(11px, 0.8333333333vw, 12px);
  writing-mode: vertical-rl;
}
.c-card_img-wrap::after {
  background: #D2F4FF;
  width: 89.25%;
  bottom: -14px;
  content: "";
  display: block;
  height: 74%;
  left: -23px;
  position: absolute;
  width: 81.25%;
  z-index: -1;
}
.c-card_body {
  margin-left: 22px;
}
.c-card_title {
  font-weight: 700;
  color: #005B94;
  margin: 38px 0 20px 0;
  font-size: 24px;
  font-size: 1.5rem;
}
.c-card_text {
  line-height: 24px;
}

@media screen and (max-width: 640px) {
  .p-global-nav {
    padding-top: 86px;
  }
}
.p-global-nav_list {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
@media screen and (max-width: 640px) {
  .p-global-nav_list {
    flex-direction: column;
    margin-left: 0;
  }
}
@media screen and (max-width: 640px) {
  .p-global-nav_item {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 640px) {
  .p-global-nav_item:first-of-type {
    border-top: solid 1px #ffffff;
  }
}
@media screen and (max-width: 640px) {
  .p-global-nav_item:last-of-type {
    margin-top: 40px;
  }
}
.p-global-nav_item:not(:last-of-type) {
  margin-right: 56px;
}
@media screen and (max-width: 640px) {
  .p-global-nav_item:not(:last-of-type) {
    margin-right: 0;
    display: block;
    border-bottom: solid 1px #ffffff;
  }
}
.p-global-nav_link {
  display: block;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .p-global-nav_link {
    font-size: 14px;
  }
}
@media screen and (max-width: 640px) {
  .p-global-nav_link {
    padding: 24px 0;
    color: #ffffff;
  }
}
.p-global-nav_link:hover {
  color: #0084AD;
}
.p-global-nav_sublink {
  display: block;
  margin-top: 6px;
  color: #686F75;
  transition: 0.3s;
  font-size: 12px;
}
@media screen and (max-width: 640px) {
  .p-global-nav_sublink {
    display: none;
  }
}
.p-global-nav_contact-link {
  width: 192px;
  padding: 15px 0;
  display: inline-block;
  border-radius: 50px;
  background: #005B94;
  transition: 0.3s;
  text-align: center;
  font-size: 15px;
}
.p-global-nav_contact-link:hover {
  background: #0084AD;
}
.p-global-nav_contact-link span {
  top: -3px;
  left: 2px;
  color: #ffffff;
}

.p-global-nav_link:hover .p-global-nav_sublink {
  color: #0084AD;
}

.c-btn-menu {
  display: none;
}
@media screen and (max-width: 640px) {
  .c-btn-menu {
    display: block;
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px;
    border: none;
    appearance: none;
    outline: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
    background: #005B94;
  }
}
.c-btn-menu_line {
  width: 100%;
  height: 2px;
  border-radius: 4px;
  display: block;
  transition: 0.4s;
  background: #ffffff;
}
.c-btn-menu_line::before, .c-btn-menu_line::after {
  position: absolute;
  display: block;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  content: "";
  transition: inherit;
  background: inherit;
}
.c-btn-menu_line::before {
  top: -10px;
}
.c-btn-menu_line::after {
  top: 10px;
}
.c-btn-menu.active {
  background: transparent;
}

.c-btn-menu.active .c-btn-menu_line {
  background-color: transparent;
}

.c-btn-menu.active .c-btn-menu_line::before, .c-btn-menu.active .c-btn-menu_line::after {
  top: 0;
  background-color: #fff;
}

.c-btn-menu.active .c-btn-menu_line::before {
  transform: rotate(-45deg);
}

.c-btn-menu.active .c-btn-menu_line::after {
  transform: rotate(45deg);
}

/* .p-hero {
  width: 100vw;
  height: 100vh;
} */
.p-hero_title {
  width: 42.3611111111%;
  position: absolute;
  text-align: center;
  top: calc(50% - 12px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
@media screen and (max-width: 640px) {
  .p-hero_title {
    width: 272px;
  }
}
.p-hero_scroll {
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
@media screen and (max-width: 640px) {
  .p-hero_scroll {
    width: 44px;
    height: 44px;
  }
}
.p-hero_scroll::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 16px;
  height: 16px;
  margin: -10px 0 0 -9px;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  transform: rotate(-45deg);
}
@media screen and (max-width: 640px) {
  .p-hero_scroll::after {
    width: 14px;
    height: 14px;
    margin: -10px 0 0 -8px;
  }
}
.p-hero_scroll::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  width: 48px;
  height: 48px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 0;
  animation: sdb 2s infinite;
}
@media screen and (max-width: 640px) {
  .p-hero_scroll::before {
    width: 42px;
    height: 42px;
  }
}
.p-hero_scroll span {
  position: absolute;
  margin: 64px 0 0 6px;
  color: #ffffff;
  font-size: 12px;
}
@media screen and (max-width: 640px) {
  .p-hero_scroll span {
    margin: 56px 0 0 6px;
    font-size: 11px;
  }
}

.p-subhero {
  width: 100%;
  height: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-top: 86px;
}
.p-subhero-aboutpage {
  background: url(../img/about-hero.jpg);
}
.p-subhero-newspage {
  background-image: url(../img/news-hero.jpg);
}
.p-subhero-servicepage {
  background-image: url(../img/service-hero.jpg);
}
.p-subhero-recruitpage {
  background-image: url(../img/recruit-hero.jpg);
}
.p-subhero-accesspage {
  background-image: url(../img/access-hero.jpg);
}
.p-subhero-thankspage {
  background-image: url(../img/service-hero.jpg);
}
.p-subhero-ciency {
  background-image: url(../img/hp-ciency-img04.png);
}
.swiper-slide-active .swiper-img,
.swiper-slide-duplicate-active .swiper-img,
.swiper-slide-prev .swiper-img {
  animation: zoomUp 10s linear 0s normal both;
}

.swiper-wrapper .swiper-slide .swiper-img {
  height: 100vh;
  width: 100%;
}

.c-sns-nav {
  position: fixed;
  bottom: 70px;
  left: 15px;
  z-index: 1000;
}
@media screen and (max-width: 640px) {
  .c-sns-nav {
    display: none;
  }
}

.c-sns-nav_message {
  font-weight: 400;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
  font-size: 12px;
  font-size: 0.75rem;
  color: #ffffff;
}
.c-sns-nav_list {
  margin-top: 70px;
}
.c-sns-nav_list::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 6px;
  width: 1px;
  height: 40px;
  background: #ffffff;
}
.c-sns-nav_item:not(:last-of-type) {
  margin-bottom: 28px;
}
.c-sns-nav_link {
  color: #ffffff;
}

.p-about {
  padding-top: 11.7592592593%;
}
@media screen and (max-width: 640px) {
  .p-about {
    padding-top: 50px;
  }
}
.p-about_body {
  width: 38.7096774194%;
  margin: 0 0 0 auto;
}
@media screen and (max-width: 640px) {
  .p-about_body {
    width: 100%;
    margin-top: 260px;
    padding-top: 130px;
  }
}
.p-about_heading {
  margin-bottom: 27px;
}
.p-about_title {
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 2.4%;
  color: #005B94;
  font-size: 20px;
}
@media screen and (max-width: 640px) {
  .p-about_title {
    line-height: 22px;
    margin-bottom: 10px;
    font-size: 14px;
  }
}
.p-about_text {
  line-height: 24px;
  margin-bottom: 6.1290322581%;
}
@media screen and (max-width: 640px) {
  .p-about_text {
    line-height: 18px;
    /* margin-bottom: 94.4%; */
    margin-bottom: 10px;
  }
}
.p-about_link {
  text-align: center;
}
@media screen and (max-width: 640px) {
  .p-about_link {
    text-align: center;
  }
}
.p-about_img {
  transition-duration: 600ms;
  transition-property: opacity 0.6s, transform 0.6s;
  opacity: 0;
}
.p-about_img-wrap {
  width: 47.5%;
    /* width: 50px;
    height: 100px; */
  position: absolute;
  top: 14.5161290323%;
  left: 4.8611111111%;
  padding-bottom: 42.0138888889%;
}
@media screen and (max-width: 640px) {
  .p-about_img-wrap {
    width: 340px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 80px;
    margin-bottom: 0px;
  }
  .p-about_img-wrap2 {
    position: relative;
    top: 130px;
    left: 0px;
    /* width: 340px; */
    /* padding-top: 0px;
    margin-top: 0px; */
    /* padding-bottom: 80px;
    margin-bottom: 0px; */
  }
}
.p-about_img-wrap img {
  border-radius: 6px;
}
/* ホームページ制作 */
.p-service_hp-img-back {
  width: 100%;
  height: 400px;
  background-image: url(../img/hp-service_img.jpg);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 6px;
  padding-top: 100px;
  z-index: -2;
 }
 @media screen and (max-width: 640px) {
    .p-service_hp-img-back {
      width: 100%;
      /* height: 418px; */
      background-image: url(../img/hp-service_img.jpg);
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 6px;
      z-index: -2;
    }
  }
 /* シエンシー */
/* 動画制作 */
.p-service_movie-img-back {
width: 100%;
height: 400px;
background-image: url(../img/hp-ciency_img.jpg);
background-position: top center;
background-size: contain;
background-repeat: no-repeat;
border-radius: 6px;
z-index: -2;
background-color: #D2F4FF;
}
@media screen and (max-width: 640px) {
  .p-service_movie-img-back {
    width: 100%;
    background-image: url(../img/hp-ciency_img.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
    z-index: -2;
  }
}
.p-about_img:nth-of-type(1) {
  width: 66.6666666667%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-130px, 0);
}
.p-about_img:nth-of-type(2) {
  width: 42.6388888889%;
  position: absolute;
  top: 15%;
  left: 0%;
  transform: translate(130px, 0);
}
.p-about_img:nth-of-type(3) {
  width: 38.6111111111%;
  position: absolute;
  top: 53%;
  left: 50.4838709677%;
  transform: translate(50px, 0);
}
.p-about_img.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}
.p-about_big-text_img-wrap {
  width: 126%;
  position: absolute;
  left: 0;
  bottom: -6.5%;
  z-index: -1;
}
@media screen and (max-width: 640px) {
  .p-about_big-text_img-wrap {
    display: none;
  }
}

/* シエンシー */
.p-ciency {
  background-image: url(../img/recruit_iconbg.svg);
  background-repeat: repeat;
  background-size: contain;
}
.p-ciency_body {
  /* display: flex; */
  background-image: url(../img/recruit_iconbg.svg);
  background-repeat: repeat;
  background-size: contain;
  text-align: center;
  width: 100%;
  background: #ffffff;
  border: solid 3px #005B94;
  padding: 32px 0;
  border-radius: 12px;
}
.p-ciency_heading {
  margin-bottom: 62px;
}
.p-ciency_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.p-ciency_item:nth-of-type(2), .p-ciency_item:nth-of-type(3) {
  padding-top: 60px;
}
.p-ciency_item:not(:last-of-type) {
  border-bottom: 2px solid #B4B4B4;
  padding-bottom: 30px;
}
.p-ciency_title {
  width: 100%;
  font-size: 20px;
  color: #005B94;
  text-align: center;
  font-weight: 700;
  line-height: 24px;
  margin: auto 0;
}
.p-ciency_desc {
  width: 100%;
  font-size: 20px;
  text-align: left;
  line-height: 24px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}
.p-ciency_hp-img-back {
  width: 100%;
  height: 400px;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 6px;
  }
@media screen and (max-width: 640px) {
    .p-ciency_hp-img-back {
      width: 100%;
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 6px;
    }
}
.p-ciencypage_link {
  text-align: center;
  padding-top: 64px;
}



/* サービス */
.p-service {
  padding-top: 25%;
}
@media screen and (max-width: 640px) {
  .p-service {
    padding-top: 19.2%;
  }
}
.p-service_inner {
  width: 100%;
  height: 1558px;
  /* height: 1418px; */
  background-image: url(../img/service_spbg.jpg);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 640px) {
  .p-service_inner {
    height: auto;
    background: none;
    z-index: 1;
  }
}
.p-service_heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 0px;
  padding-bottom: 40px;
  margin-bottom: 15.8064516129%;
}
@media screen and (max-width: 640px) {
  .p-service_heading {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 50px;
  }
}
.p-service_message {
  width: 50.6451612903%;
  line-height: 24px;
}
@media screen and (max-width: 640px) {
  .p-service_message {
    width: 100%;
    line-height: 18px;
    margin-top: 9px;
  }
}
.p-service_hp {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24.0322580645%;
}
@media screen and (max-width: 640px) {
  .p-service_hp {
    flex-direction: column-reverse;
    margin-bottom: 76px;
  }
}
.p-service_hp-desc {
  width: 43.064516129%;
  padding: 4.1935483871% 3.7096774194% 4.1935483871% 1.935483871%;
  margin: 8.064516129% 3.2258064516% 0 0;
  border-radius: 6px;
  background: #ffffff;
  z-index: 999;
}
@media screen and (max-width: 640px) {
  .p-service_hp-desc {
    width: 100%;
    padding: 0;
    margin: 14px 0 0 0;
  }
}
.p-service_hp-title {
  margin-bottom: 24px;
  color: #005B94;
  font-size: 28px;
}
@media screen and (max-width: 640px) {
  .p-service_hp-title {
    font-size: 21px;
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 640px) {
  .p-service_hp-title img {
    width: 28px;
    position: relative;
    top: -2px;
  }
}
.p-service_hp-text {
  line-height: 24px;
  margin-bottom: 24px;
}
@media screen and (max-width: 640px) {
  .p-service_hp-text {
    line-height: 18px;
    margin-bottom: 27px;
  }
}
@media screen and (max-width: 640px) {
  .p-service_hp-link {
    text-align: center;
  }
}
.p-service_hp-img-wrap {
  width: 47.9838709677%;
  z-index: 2;
  transition-duration: 600ms;
  transition-property: opacity 0.6s, transform 0.6s;
  opacity: 0;
  transform: translate(130px, 0);
}
@media screen and (max-width: 640px) {
  .p-service_hp-img-wrap {
    width: 100%;
    transform: translate(-130px, 0);
  }
}
.p-service_hp-img-wrap::before {
  content: "";
  position: absolute;
  width: clamp(400px, 66.1290322581vw, 820px);
  height: clamp(216px, 35.7692307692vw, 465px);
  background-color: #D2F4FF;
  border-radius: 6px;
  z-index: -1;
  top: -40px;
  left: -180px;
}
@media screen and (max-width: 640px) {
  .p-service_hp-img-wrap::before {
    border-radius: 4px;
    top: -20px;
    left: -80px;
  }
}
.p-service_hp-img-wrap.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}
.p-service_hp-img {
  border-radius: 6px;
}
@media screen and (max-width: 640px) {
  .p-service_hp-img {
    border-radius: 4px;
  }
}
.p-service_mv {
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 640px) {
  .p-service_mv {
    flex-direction: column;
  }
}
.p-service_mv-img-wrap {
  width: 47.9838709677%;
  z-index: 2;
  transition-duration: 600ms;
  transition-property: opacity 0.6s, transform 0.6s;
  opacity: 0;
  transform: translate(-130px, 0);
}
@media screen and (max-width: 640px) {
  .p-service_mv-img-wrap {
    width: 100%;
    transform: translate(0px, 130px);
  }
}
.p-service_mv-img-wrap::before {
  content: "";
  position: absolute;
  width: clamp(400px, 66.1290322581vw, 820px);
  height: clamp(216px, 35.7692307692vw, 465px);
  background-color: #D2F4FF;
  border-radius: 6px;
  z-index: -1;
  top: -40px;
  left: -40px;
}
@media screen and (max-width: 640px) {
  .p-service_mv-img-wrap::before {
    top: -20px;
    right: 20px;
    left: initial;
    background-color: #D2F4FF;
  }
}
.p-service_mv-img-wrap.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}
.p-service_mv-desc {
  width: 45.064516129%;
  margin: 8.3870967742% 0 0 4.5161290323%;
  padding: 4.1935483871% 5.4838709677% 4.1935483871% 3.7096774194%;
  border-radius: 6px;
  background-color: #ffffff;
  z-index: 2;
}
@media screen and (max-width: 640px) {
  .p-service_mv-desc {
    width: 100%;
    padding: 0;
    margin: 14px 0 0 0;
  }
}
.p-service_mv-title {
  margin-bottom: 24px;
  color: #005B94;
  font-size: 28px;
}
@media screen and (max-width: 640px) {
  .p-service_mv-title {
    font-size: 21px;
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 640px) {
  .p-service_mv-title img {
    width: 28px;
    position: relative;
    top: -2px;
    border-radius: 4px;
  }
}
.p-service_mv-text {
  line-height: 24px;
  margin-bottom: 24px;
}
@media screen and (max-width: 640px) {
  .p-service_mv-text {
    line-height: 18px;
    margin-bottom: 27px;
  }
}
@media screen and (max-width: 640px) {
  .p-service_mv-link {
    text-align: center;
  }
}
.p-service_mv-img {
  border-radius: 6px;
  border: 1px solid red;
}
@media screen and (max-width: 640px) {
  .p-service_mv-img {
    position: absolute;
    border-radius: 6px;
    width: 95%;
    border: 1px solid blue;
  }
}
.p-service_big-text_img-wrap {
  position: absolute;
  top: 60%;
  left: 31%;
}
@media screen and (max-width: 640px) {
  .p-service_big-text_img-wrap {
    display: none;
  }
}

/* 求人 */
@media screen and (max-width: 640px) {
  .p-recruit {
    padding-top: 19.2%;
  }
}
.p-recruit_bg {
  width: 95.1388888889%;
  height: 582px;
  margin: 0 auto;
  border-radius: 12px;
}
@media screen and (max-width: 640px) {
  .p-recruit_bg {
    width: 100%;
    height: 420px;
    border-radius: 0px;
  }
}
@media screen and (max-width: 640px) {
  .p-recruit_inner {
    padding: 0;
  }
}
.p-recruit_body {
  max-width: 598px;
  padding: 3.8596491228% 3.3333333333% 5.6140350877% 5.6140350877%;
  border-radius: 6px;
  margin: -23.6842105263% 0 0 auto;
  background: #005B94;
}
@media screen and (max-width: 640px) {
  .p-recruit_body {
    width: 100%;
    padding: 38px 15px 56px;
    border-radius: 0px;
    margin-top: -190px;
  }
}
.p-recruit_heading {
  margin-bottom: 28px;
}
@media screen and (max-width: 640px) {
  .p-recruit_heading {
    margin-bottom: 24px;
  }
}
.p-recruit_message {
  font-weight: 700;
  margin-bottom: 16px;
  color: #ffffff;
  font-size: 23px;
  font-size: 1.4375rem;
}
@media screen and (max-width: 640px) {
  .p-recruit_message {
    line-height: 22px;
    margin-bottom: 10px;
    font-size: 17px;
    font-size: 1.0625rem;
  }
}
.p-recruit_text {
  margin-bottom: 32px;
  line-height: 24px;
  color: #ffffff;
}
@media screen and (max-width: 640px) {
  .p-recruit_text {
    line-height: 18px;
    margin-bottom: 27px;
  }
}
@media screen and (max-width: 640px) {
  .p-recruit_link {
    text-align: center;
  }
}
.p-recruit_big-text_img-wrap {
  width: 59.1228070175%;
  position: absolute;
  bottom: -6.6666666667%;
  z-index: -1;
}
@media screen and (max-width: 640px) {
  .p-recruit_big-text_img-wrap {
    display: none;
  }
}

/* .p-office_img {
  display: flex;
  align-items: center;
  height: 396px;
  overflow: hidden;
  margin: 120px 0;
}
@media screen and (max-width: 640px) {
  .p-office_img {
    height: 340px;
    margin: 0 0 21px;
  }
} */
.p-office_img {
  width: 100%;
  height: 293px;
  background-image: url("../img/recruit_flow.jpg");
  background-repeat: repeat-x;
  background-size: auto 293px; 
  animation: loop 30s linear infinite;
  position: relative;
  z-index: 999;
  margin: 120px calc(50% - 50vw) 100px;
}
@keyframes loop {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -2000px 0; 
  }
}
/* .p-office_flow-slide-wrap {
  display: flex;
  animation: loop-slide 30s infinite linear 0s both;
}
.p-office_flow-slide {
  width: 500px;
  margin-right: 5px;
} */
@media screen and (max-width: 640px) {
  .p-office_flow-slide {
    width: 300px;
  }
}

.p-news {
  padding-bottom: 140px;
}
.p-news_body {
  width: 73.6842105263%;
}
@media screen and (max-width: 640px) {
  .p-news_body {
    width: 100%;
  }
}
.p-news-list_item {
  border-bottom: 1px solid #B4B4B4;
}
.p-news_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 640px) {
  .p-news_inner {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 640px) {
  .p-news_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.p-news_link {
  margin-top: 24px;
}
@media screen and (max-width: 640px) {
  .p-news_link {
    margin-top: 0;
    position: relative;
    top: 400px;
  }
}
.p-news-list_link {
  display: flex;
  align-items: center;
  padding: 24px 0;
}
@media screen and (max-width: 640px) {
  .p-news-list_link {
    padding: 18px 0;
  }
}
@media screen and (max-width: 640px) {
  .p-news-list_link img {
    display: none;
  }
}
.p-news-list_link::after {
  content: url(../img/common/right-arrow-blue.svg);
  width: 18px;
  height: 20px;
  position: absolute;
  right: 56px;
  transition: 0.3s;
}
@media screen and (max-width: 640px) {
  .p-news-list_link::after {
    width: 10px;
    height: 14px;
    right: 30px;
  }
}
.p-news-list_link:hover::after {
  position: absolute;
  right: 52px;
}
@media screen and (max-width: 640px) {
  .p-news-list_link:hover::after {
    right: 28px;
  }
}
.p-news-list_heading {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
@media screen and (max-width: 640px) {
  .p-news-list_heading {
    margin-bottom: 6px;
  }
}
.p-news-list__date {
  margin-right: 10px;
  color: #686F75;
  line-height: 24px;
}
@media screen and (max-width: 640px) {
  .p-news-list__date {
    font-size: 11px;
  }
}
.p-news-list_body {
  margin-left: 42px;
}
@media screen and (max-width: 640px) {
  .p-news-list_body {
    margin-left: 6px;
  }
}

.p-news-list_link:hover .p-news-list_text {
  color: #0084AD;
}

.p-news-list_text::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #0084AD;
  bottom: -2px;
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.p-news-list_link:hover .p-news-list_text::after {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}

.p-contact {
  width: 100%;
  height: 448px;
  background-image: url(../img/contact-top_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}
@media screen and (max-width: 640px) {
  .p-contact {
    height: 260px;
  }
}
.p-contact_heading {
  padding-top: 96px;
  margin-bottom: 38px;
}
@media screen and (max-width: 640px) {
  .p-contact_heading {
    padding-top: 38px;
    margin-bottom: 20px;
  }
}
.p-contact_message {
  margin-bottom: 38px;
}
@media screen and (max-width: 640px) {
  .p-contact_message {
    margin-bottom: 32px;
  }
}

.p-meg_heading {
  margin-top: 42px;
}

.p-meg_left {
  width: 100%;
  text-align: left;
  /* background-color: #686F75; */
}

@media screen and (max-width: 640px) {
  /* aboutの画像 */
  .p-meg_wrap {
    width: 100%;
    display: flex;
  }
  .p-meg_title {
    line-height: 42px;
    margin-top: 84px;
    margin-bottom: 105px;
    font-size: 28px;
  }
}
.p-meg_wrap {
  width: 100%;
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex; */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 42px;
}
.p-meg_title {
  text-align: center;
  font-weight: 700;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  line-height: 42px;
  margin-top: 84px;
  margin-bottom: 105px;
  color: #005B94;
  font-size: 28px;
  /* outline: solid 1px #0000ff; */
}

.p-meg_name span {
  text-align: right;
  font-weight: 500;
  display: block;
  font-size: 21px;
}
.p-meg_name span:not(:last-of-type) {
  text-align: right;
  margin-bottom: 10px;
}

.p-meg_desc p {
  margin-bottom: 28px;
}

.p-meg_img-wrap {
  width: 640px;
}
/* .p-meg_desc {
  width: 95%;
  line-height: 24px;
} */
@media screen and (max-width: 640px) {
  .p-meg_img-wrap {
    width: 100%;
    position: relative;
    top: 5px;
  }
  .p-meg_desc {
    width: 100%;
  }
}

/* サイン */
.p-meg_sign-wrap {
  width: 28.8709677419%;
  /* right: -200px; */
  left: auto;
  /* position: relative; */
  position: absolute;
  top: 500px;
}

.p-meg_sign-wrap2 {
  display: none;
}
@media screen and (max-width: 640px) {
  .p-meg_sign-wrap {
    width: 28.8709677419%;
    left: 0;
    position: absolute;
    /* bottom: 0; */
  }
  .p-meg_sign-wrap2{
    display: block;
    width: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}


.p-phiso_heading {
  margin-bottom: 92px;
}
.p-phiso_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*about見出しのレイアウト*/
@media screen and (max-width: 640px) {
  .p-phiso_item{
    display: flex;
    flex-flow: column;
    align-items: start;
  }
}

.p-phiso_item:not(:last-of-type) {
  margin-bottom: 78px;
}

.p-phiso_title {
  margin-left: 52px;
  font-weight: 700;
  font-size: 48px;
  /*outline: solid 3px #009900;*/
}
@media screen and (max-width: 640px) {
  .p-phiso_title {
    margin-left: 52px;
    font-weight: 700;
    font-size: 32px;
  }
}

.p-phiso_title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background-image: url(../img/common/star_icon.svg);
  background-size: contain;
  width: 44px;
  height: 44px;
}
.p-phiso_title .large {
  color: #005B94;
}
.p-phiso_title .small {
  margin-top: 6px;
  font-feature-settings: "palt";
  display: block;
  color: #005B94;
  font-size: 16px;
  font-size: 1rem;
}
.p-phiso_text {
  margin-top: 10px;
  margin-left: 50px;
  width: 53.2258064516%;
  line-height: 24px;
  /*outline: solid 3px #0000ff;*/
}

/*テキストの幅*/
@media screen and (max-width: 640px) {
  .p-phiso_text{
    width: 80%;
  }
}

.p-phiso_bg {
  width: 70%;
  height: 533px;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-size: contain;
  background-image: url(../img/phiso_bg.svg);
  background-repeat: no-repeat;
}
/*背景イメージの位置*/
@media screen and (max-width: 640px) {
  .p-phiso_bg {
    top: 50%;
    left: 50%;
  }
}
.p-phiso_flow-wrap {
  display: flex;
  align-items: center;
  height: 274px;
  overflow: hidden;
  margin: 120px 0;
}
.p-phiso_flow_list {
  display: flex;
  animation: loop-slide 50s infinite linear 0s both;
}

.p-phiso_flow_item {
  width: 1000px;
  margin-right: 72px;
}
@media screen and (max-width: 640px) {
  .p-phiso_flow_item {
    width: 1000px;
  }
}

.p-company_table {
  width: 100%;
}
.p-company {
  padding-bottom: 180px;
}
.p-company_heading {
  margin-bottom: 92px;
}
.p-company_service {
  margin-bottom: 18px;
}
.p-company_wrap tr:not(:last-of-type) {
  border-bottom: 1px solid #ffffff;
}
.p-company_wrap tr:first-of-type th {
  border-top-left-radius: 6px;
}
.p-company_wrap tr:last-of-type th {
  border-bottom-left-radius: 6px;
}
.p-company_wrap th {
  width: 325px;
  padding: 52px 0 52px 18px;
  font-weight: 500;
  text-align: left;
  display: inline-block;
  color: #ffffff;
  background-color: #005B94;
}
.p-company_wrap td {
  width: 915px;
  padding-left: 18px;
  background: #F6F8FA;
}

/*about 表の表示サイズ*/
.p-company_wrap td{
  vertical-align: middle;
}

.p-company_wrap td span{
  line-height: 25px;
}
@media screen and (max-width: 640px) {
  .p-company_wrap th{
    width: 100px;
    padding: 20px 0 20px 10px;
  }
  .p-company_wrap th span{
    line-height: 60px;
  }
  .p-company_wrap td{
    vertical-align: middle;
  }
  .p-company_wrap td span{
    line-height: 15px;
    letter-spacing: -0.3px;
  }
}

.p-company_wrap td:first-of-type {
  border-top-right-radius: 6px;
}
.p-company_wrap td:last-of-type {
  border-bottom-left-radius: 6px;
}
.p-company_wrap td span {
  margin-right: 18px;
}

.p-newspage_wrap {
  padding: 180px 0;
}
.p-newspage_title {
  font-weight: 700;
  margin: 14px 0 18px;
  font-size: 28px;
  font-size: 1.75rem;
}
.p-newspage_body {
  margin-top: 30px;
  line-height: 24px;
  border-bottom: 1px solid #B4B4B4;
  padding-bottom: 60px;
}
.p-newspage_link {
  text-align: center;
  padding-top: 64px;
}

.p-servicepage_desc {
  max-width: 1700px;
  display: flex;
  align-items: center;
  margin: 180px auto 0;
}
.p-servicepage_desc-wrap {
  width: 40%;
  padding: 0 60px;
}
.p-servicepage_desc-title {
  font-weight: 700;
  margin-bottom: 72px;
  line-height: 46px;
  color: #005B94;
  font-size: 38px;
  font-size: 2.375rem;
}
.p-servicepage_desc-img-wrap {
  width: 60%;
}
.p-servicepage_desc-text {
  line-height: 24px;
}

.p-strength_heading {
  margin-bottom: 114px;
}

.p-method_heading {
  margin-bottom: 96px;
}
.p-method_body {
  display: flex;
}
.p-method_figure-item {
  width: 360px;
  padding: 36px 0;
  margin-bottom: 136px;
  text-align: center;
  color: #ffffff;
  background: #005B94;
}
.p-method_figure-item::after {
  content: "";
  top: 88px;
  right: 0;
  left: 0;
  position: absolute;
  border-top: 42px solid #005B94;
  border-left: 180px solid transparent;
  border-right: 180px solid transparent;
}
.p-method_figure-list::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 775px;
  top: 0;
  left: 150px;
  background: #D2F4FF;
}
.p-method_desc-title {
  font-weight: 500;
  font-size: 20px;
  font-size: 1.25rem;
}
.p-method_desc-title .namber {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: inline-block;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background: #005B94;
  position: absolute;
  top: -8px;
  left: -36px;
}

/* アクセス画像 */
.p-access_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 640px) {
  .p-access_body {
    display:flex;
    flex-flow: column;
  }
}

.p-access-map {
  width: clamp(566px, 58.5087719298vw, 667px);
  height: clamp(538px, 55.6140350877vw, 634px);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
@media screen and (max-width: 640px) {
  .p-access-map {
    width: clamp(100%, 58.5087719298vw, 667px);
    height: clamp(338px, 55.6140350877vw, 634px);
  }
}

.p-access_address {
  /* outline: solid 1px #ffffff; */
}

.p-access-map_img {
  width: 100%;
  height: 100%;
}
.p-access-map_img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}

/* アクセスガイド背景 */
.palm-seagull-img {
  width: 100%;
  background-color: #ffffff;
}
.p-access_palm-seagull-img-wrap {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 640px) {
  .palm-seagull-img {
    width: 360px;
    background-color: #ffffff;
  }
  .p-access_palm-seagull-img-wrap {
    /* width: 100%; */
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
  .p-access_wayto {
    display: block;
    line-height: 10px;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
  }
  .p-access_wayto span {
    line-height: 10px;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
  }
}
.p-access_wayto {
  line-height: 24px;
}
.p-access_wayto span {
  display: block;
  margin-bottom: 16px;
}


.p-access_desc {
  width: 490px;
  padding-left: 10px;
  position: relative;
  bottom: 0;
  margin-left: 50px;
}
@media screen and (max-width: 640px) {
  .p-access_desc {
    /* width: 100%; */
    width: 350px;
    color :#000000;
    margin: 0px;
    padding: 0px;
  }
}
.p-access_desc-title {
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: 1px solid #B4B4B4;
  margin-bottom: 6px;
}
.p-access_desc-text {
  margin: -4px 0;
  line-height: 24px;
  margin-bottom: 26px;
}
.p-access_phone-number {
  margin-top: 4px;
}
.p-access_phone-number span {
  font-weight: 700;
  color: #005B94;
  vertical-align: text-top;
}
.p-access_reception-time {
  color: #005B94;
  margin-top: 6px;
}
.p-access_contact {
  margin-top: 64px;
}
.p-access_phone-number {
  margin-top: 4px;
}
.p-access_phone-number span {
  font-weight: 700;
  color: #005B94;
  vertical-align: text-top;
}
.p-access_reception-time {
  color: #005B94;
  margin-top: 6px;
}

.place-icon {
  width: 56px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
}

.p-recrment {
  background-image: url(../img/recruit_iconbg.svg);
  background-repeat: repeat;
  background-size: contain;
}
.p-recrment_body {
  background: #ffffff;
  border: solid 3px #005B94;
  padding: 64px 0;
  border-radius: 12px;
}
.p-recrment_heading {
  margin-bottom: 92px;
}
.p-recrment_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.p-recrment_item:nth-of-type(2), .p-recrment_item:nth-of-type(3) {
  padding-top: 60px;
}
.p-recrment_item:not(:last-of-type) {
  border-bottom: 2px solid #B4B4B4;
  padding-bottom: 60px;
}
.p-recrment_title {
  width: 15%;
  text-align: center;
  font-weight: 700;
  line-height: 24px;
  margin: auto 0;
}
.p-recrment_desc {
  width: 54.1666666667%;
  line-height: 24px;
}

.u-cts {
  position: relative;
}

.u-center {
  text-align: center;
}
.thanks_heading{
  text-align: center;
  margin-bottom: 64px;
}
.back_link-btn{
  text-align: center;
}
.thanks-message-title {
  font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #005B94;
    margin-bottom: 28px;
}
.thanks-message-text {
  line-height: 24px;
    margin: -4px 0;
}
.c-btn_round-blue {
  color:#ffffff;
  background-color: #005B94;
}
.c-btn_round-blue:hover {
  color: #005B94;
  background: #ffffff;
}
.c-btn_round-blue:hover::after {
  background: #005B94;
  right: 28px;
}
.c-btn_round-blue::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 27px;
  right: 30px;
  width: 10px;
  height: 12px;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  border-radius: 2px;
  background: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=style.css.map */