/* =============================================================
   0.  背景イメージと基礎レイアウト
   ========================================================== */
.footer {
  position: relative; /* copy-right を absolute で置きたいので基準化 */
  padding-bottom: 50px;
  height: auto;
  /* min-height: 100vh; */
  background: url("../img/footer-bg.webp") no-repeat right bottom/cover;
  color: var(--f-white);
}

/* ======================================
   1.  インナーラッパー
   =================================== */
.footer__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  font-size: clamp(0.875rem, 1.5vw, 1.5rem);
}
@media (max-width: 991px) {
  .footer__inner {
    flex-direction: column;
    /* justify-content: space-between; */
  }
}
/* =============================================================
   2.  住所・ロゴ・SNS
   ========================================================== */
.footer__company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline: 1.5rem;
}
/* --- ロゴ --- */
.footer__logo {
  width: 250px;
  height: auto;
  margin: 0 auto;
}
/* @media (max-width: 991px) {
  .footer__logo {
    width: 242px;
  }
}
@media (max-width: 576px) {
  .footer__logo {
    margin: 0;
  }
} */
.footer__logo img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* --- テキスト住所 --- */
.footer__address {
  margin: 0;
  padding: 1rem 0;
}

/* メール・電話 */
.footer__mail,
.footer__phone {
  font-size: clamp(0.875rem, 1vw, 1.5rem);
  color: var(--f-white);
  margin: 0;
  padding: 0.25rem 0;
}
.footer__mail a,
.footer__phone a {
  color: var(--f-white);
  text-decoration: none;
}
/* 受付時間 */
.footer__time {
  margin: 0;
  font-feature-settings: "palt";
}
/* @media (max-width: 991px) {
  .footer__time {
    margin-bottom: 10px;
    padding-bottom: 0;
    border-bottom: none;
  }
} */

/* --- SNS --- */
.footer__company-item-sns {
  margin: 0 auto;
}
.footer__sns-list {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  margin: 0;
  padding-block: 1rem;
  padding-inline: 0;
  list-style: none;
}

.footer__sns-item img {
  width: 5vw;
  min-width: 48px;
  max-width: 56px;
}
/* @media (max-width: 991px) {
  .footer__sns {
    padding-top: 0;
  }
  .footer__sns-list {
    justify-content: flex-start;
  }
} */

/* =============================================================
   3.  ナビゲーション
   ========================================================== */
.footer__nav {
  width: 70%;
  padding-inline: 1.5rem;
}
@media (max-width: 991px) {
  .footer__nav {
    width: 100%;
    padding-bottom: 1.5rem;
  }
}
.footer__nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 3rem;
}
.footer__nav-item {
  flex: 0 0 33.33%;
  aspect-ratio: 1 / 0.5;
  position: relative;
}
.footer__nav-item a {
  color: var(--f-white);
}
@media (max-width: 576px) {
  .footer__nav-list {
    flex-direction: column;
    margin-top: 1rem;
  }
  .footer__nav-item {
    flex: 0 0 50%;
    aspect-ratio: auto;
    padding-block: 0.25rem;
  }
}

.footer__service-nav-list {
  padding: 0.5rem 0 1rem 1.5rem;
}
.footer__service-nav-item {
  padding-block: 0.25rem;
}

/* --- タイトルリンク --- */
.footer__nav-title {
  color: #fff;
  font-size: 13px;
  width: max-content;
  position: relative;
}
.footer__nav-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scaleX(0);
  transform-origin: left top;
  transition: transform 0.4s;
}
.footer__nav-title:hover::after {
  transform: scaleX(1);
}
@media (min-width: 768px) {
  .footer__nav-title {
    font-size: 16px;
  }
}
/* 子リンク */
.footer__nav-link {
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  position: relative;
  width: max-content;
}
.footer__nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scaleX(0);
  transform-origin: left top;
  transition: transform 0.4s;
}
.footer__nav-link:hover::after {
  transform: scaleX(1);
}
@media (max-width: 640px) {
  .footer__nav-link {
    font-size: 11px;
  }
}
.footer__nav-link:first-of-type {
  margin-bottom: 16px;
}
.footer__nav-item:nth-of-type(2) .footer__nav-title {
  margin-bottom: 16px;
}

/* =============================================================
   4.  コピーライト
   ========================================================== */
.footer__copyright {
  width: 100%;
  text-align: center;
  font-size: clamp(0.875rem, 1vw, 1.2rem);
  padding: 15px 0;
  background: #110d0d;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
